{% extends "base.html" %}

{% block content %}

<h1>Cart</h1>
<div class="container">
{% if cart.products.exists %}
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Product Name</th>
	      <th scope="col">Product Price</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for product in cart.products.all %}
	    <tr>
	      <th scope="row">{{ forloop.counter }}</th>
	      <td><a href="{{product.get_absolute_url}}">{{ product.title }}</a></td>
	      <td>{{ product.price }}</td>
	      <td>{% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}</td>
	    </tr>
	    {% endfor %}
	    <tr>
	      <th scope="row"></th>
	      <td colspan="2"></td>
	      <td><b>Subtotal: </b>{{ cart.subtotal }}</td>
	    </tr>
	    <tr>
	      <th scope="row"></th>
	      <td colspan="2"></td>
	      <td><b>Total: </b>{{ cart.total }}</td>
	    </tr>
	    <tr>
	      <th scope="row"></th>
	      <td colspan="2"></td>
	      <td><a type="button" class="btn btn-lg btn-success" href='{% url "cart:checkout" %}' >Checkout</a></td>
	    </tr>
	  </tbody>
	</table>
{% endif %}
</div>
{% endblock %}