{% extends "base.html" %}


{% block content %}
{% include "base/navbar.html" with brand_name=title %}

    <div class="text-center">
      <h1>Hello, world! This is nice.</h1>
      <h3>Hell Hath No Fury</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>{{ content }}</p>
          <div class="col-sm-6 col-12">

          <form method='POST'> {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
          </form>
          <hr>
          

          <!-- <form method='POST'> {% csrf_token %}
               <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
                <div class="mb-3">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email">Email <span class="text-muted">(Optional)</span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>
                <input type="text" class='form-control' placeholder="Name" name="fullname">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
          </form> -->
          <h3>Name: {{context.fullname}}</h3>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

